:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background: #f3f4f6;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}
input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}
button {
  width: 100%;
  padding: 0.75rem;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
button:hover {
  background: #4338ca;
}
p {
  text-align: center;
  margin-top: 1rem;
  color: #666;
}
a {
  color: #4f46e5;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.error {
    color: red;
    margin-bottom: 1rem;
}